/*
    Base Application Styling
*/
.cog{
	min-width: inherit;
	/* padding-top: .5rem; */
	/* padding-bottom: .5rem; */
}
.textCenter{
	text-align: center;
}
.textLeft{
	text-align: left;
}
.textRight{
	text-align: right;
}
#UserInfo{
	text-align: right;
	padding-right: 30px;
}
#RefreshTimer{
	text-align: left;
	padding-left: 30px;
}
.formLabel{
	font-weight: bold;
}
#contentPanel{
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 4px;
	background-color: #eeeeee;
	overflow-x: auto;
	padding-bottom: 15px;
	padding-top: 15px;
}
.hide{
	display:none !important;
}
.fullWdith{
	width: 100%;
}
.topBuffer{
	padding-top:15px;
}
.requiredField{
	color:#721c24 !important;
}
.toolVersion{
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
#topBanner{
	text-align:center;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
}
.topBarGreen{
    background-color:#586750;
}
.topBarRed{    
    background-color:#990000;
}
.topBarBlue{
    background-color:#001cd9;
}
.topBarPurple{
	background-color: #470047;
}
.formLabelStacked{
	padding: .25rem .5rem;
	font-size: .87rem;
	line-height: 1.5;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: #495057;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	white-space: normal;
	margin-bottom: 0px;
	width: 100%;
	text-align:center;
}
.formInputStackedBottom{
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
	height: calc(1.5em + .5rem + 2px);
	text-align: center;
	font-size: .87rem;
	padding: .25rem .5rem;
	position:absolute;
	bottom: 0px;
}
.form-control-left{
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}
.selectpicker{
	display:inherit !important;
}
.multiselect-container{
	max-height: 400px;
	overflow-y: auto;
}
.btn-slim {
	padding-top: 0px;
	max-height: 20px;
}
.slim{
	padding: .15rem .35rem;
}
.btn-wide{
	padding-left:30px;
	padding-right:30px;
}
/*
	Bootstrap Modifications
*/
.row{
	padding-top: .15rem;
	padding-bottom: .15rem;
}
.card-header{
	padding: inherit;
}
.input-group>.multiselect-native-select{
	width:0%;
}
.nav-link.active {
	background-color: #007bff !important;
	border-color: #007bff !important;
	color: #fff !important;
}
.nav-link{
	color:#007bff !important;
}
.form-inline{
	display: inherit;
}
.form-control{
	color:#495057 !important;
	background-color: #fff !important;
}
.input-group-text, h1, h2, h3, h4, h5{
	cursor: default !important;
}
.input-group{
	flex-wrap: unset;
}
.modal-title{
	margin: inherit;
}
.navbar{
	padding-top:.30rem;
	max-height: 25px;
	padding-bottom:.05rem;
	margin-bottom:inherit;
	min-height: inherit;
}
.navbar-brand{
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar-brand > #AppTitle {
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar-nav > li{
	padding-left:5px;
	padding-right:5px;
}
.navbar-inverse{
	background-color:#3d3d3d;
	border: none;
}
.navbar-inverse .navbar-toggle{
	border-color:#fff;
}
/* @media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    } */
    /* since 3.1.0 */
    /* .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
} */

/* .navbar-collapse{
	padding-right:30px;	
} */

.navbar-inverse .navbar-brand{
	height:inherit;
	color:#fff !important;
}

.nav-btn{
	margin-top:2px;
	margin-bottom: 2px;
}

.paginate_button{
	padding-left:2px;
	padding-right: 2px;
}

/*
	CSS Spinner
*/

.cssload-loader {
	position: relative;
	left: calc(50% - 31px);
	width: 62px;
	height: 62px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 780px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;	
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.15s linear infinite;
		-o-animation: cssload-rotate-one 1.15s linear infinite;
		-ms-animation: cssload-rotate-one 1.15s linear infinite;
		-webkit-animation: cssload-rotate-one 1.15s linear infinite;
		-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 3px solid rgb(0,0,0);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.15s linear infinite;
		-o-animation: cssload-rotate-two 1.15s linear infinite;
		-ms-animation: cssload-rotate-two 1.15s linear infinite;
		-webkit-animation: cssload-rotate-two 1.15s linear infinite;
		-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 3px solid rgb(0,0,0);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.15s linear infinite;
		-o-animation: cssload-rotate-three 1.15s linear infinite;
		-ms-animation: cssload-rotate-three 1.15s linear infinite;
		-webkit-animation: cssload-rotate-three 1.15s linear infinite;
		-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 3px solid rgb(0,0,0);
}

@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

/*
	Popper Tooltip Stylings
*/

.tooltip{
	background: #333;
	color: white;
	font-weight: bold;
	padding: 4px 8px;
	font-size: 13px;
	border-radius: 4px;
	display: none;
}

.tooltip[data-show]{
	display: block;
}

.arrow, .arrow::before{
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

.arrow{
	visibility: hidden;
}

.arrow::before {
	visibility: visible;
	content: '';
	transform: rotate(45deg);
  }

.tooltip[data-popper-placement^='top'] > .arrow {
	bottom: -4px;
  }

.tooltip[data-popper-placement^='bottom'] > .arrow {
	top: -4px;
  }

.tooltip[data-popper-placement^='left'] > .arrow {
	right: -4px;
  }

.tooltip[data-popper-placement^='right'] > .arrow {
	left: -4px;
  }

  /*
  	Baseline Modifications
  */
button{
	min-width: inherit;
}

.tox-tinymce{
	width:100%;
}

table.dataTable tbody td {
	vertical-align: top;
  }